################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.ipch
*.suo
*.cso
*.tlog
*.obj
*.lib
*.idb
*.recipe
*.pch
*.pdb
/DirectXTK/Bin
/.vs
/DXUT/Core/Bin
/DXUT/Optional/Bin
/Demo/Debug
/x64
/Demo/x64
